<div class="row">
    <div class="col-md-12">

        <ul class="list-inline footer-links">
            <li>
                Share this post:
            </li>
            {% if site.author.twitter and site.footer-links-active.twitter %}
            <li>
                <a href="https://twitter.com/share?
                            text={{ page.title }}
                            &url={{ page.shorturl }}
                            &via={{ site.author.twitter }}" title="Share on Twitter">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
                </a>
            </li>
            {% endif %}
            {% if site.author.linkedin and site.footer-links-active.linkedin %}
            <li>
                <a href="https://www.linkedin.com/cws/share?mini=true&url={{ site.baseurl }}{{ include.url }}&title={{ include.title }}&source={{ include.title }}" title="Share on LinkedIn">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
                </a>
            </li>
            {% endif %}

        </ul>
    </div>
</div>
